/binLearning/Release/CompiledShaders/defaultBasic.hlsl.pixelShaderMain.p
/binLearning/Release/CompiledShaders/defaultBasic.hlsl.vertexShaderMain.p
/binLearning/Release/CompiledShaders/defaultBasicTexture.hlsl.pixelShaderMain.p
/binLearning/Release/CompiledShaders/defaultBasicTexture.hlsl.vertexShaderMain.p
/binLearning/Release/physics.exe
/binLearning/Release/physics.pdb
/binLearning
/physics/x64
/physics/CompiledShaders
/physics/ipch
/physics/debug.png
/physics/physics.opensdf
/physics/physics.sdf
/datasets/simpleBall2mil.txt
